  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow">

  <script src="{{ url_for('static', filename='js/theme-color.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">

  <link rel="manifest" href="{{ url_for('static', filename='pwa/manifest.json') }}">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <link rel="apple-touch-icon" href="/static/icons/icon-192.png">
  <script>
    if (navigator.serviceWorker) {
        navigator.serviceWorker.register ("{{ url_for('static', filename='pwa/sw.js') }}")
    }
  </script>