<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow">

  <title>ユーザー登録</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/resist.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
</head>

<body>
  <header class="site-header">
    <div class="header-container">
      <a href="#" class="site-logo" style="pointer-events: none;"> <!-- 登録中は他のページに遷移させない -->
        <img src="{{ url_for('static', filename='icons/favicon.png') }}" alt="ロゴ" class="logo-image">
      </a>
    </div>
  </header>

  <main class="container">
    <div class="form-container">
      <h2>ユーザー登録</h2>
      <p>ニックネームを登録してください！</p>

      <!-- 登録処理を行うためのフォーム -->
      <form method="POST" action="{{ url_for('resist') }}">
        <div class="form-group">
          <label for="nickname">ニックネーム</label>
          <input type="text" id="nickname" name="nickname" placeholder="例: だでぃ" required autofocus>
        </div>
        <div class="form-group">
          <label for="email">メールアドレス</label>
          <input type="email" id="email" name="email" value="{{ user_email }}" readonly>
        </div>
        <button type="submit" class="submit-btn">登録する</button>
      </form>
    </div>
  </main>
</body>
</html>