<!DOCTYPE html>
<html lang="ja">
<head>
  {% include "head.html" %}

  <title>トップ</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/top.css') }}">
</head>

<body>
  {% include "header.html" %}

  <main class="container">
    <nav class="main-navigation">
      <a href="schedule-manage" class="nav-link">
        <span class="material-symbols-outlined">event_note</span>
        予定管理
      </a>

      <a href="bands" class="nav-link">
        <span class="material-symbols-outlined">groups</span>
        バンド一覧
      </a>

      <!-- ログアウト -->
      <a href="logout" class="nav-link logout">
        <span class="material-symbols-outlined">logout</span>
        ログアウト
      </a>
    </nav>
  </main>
</body>
</html>
