/*
 * ----------------------------------------------------------------
 * 色定義
 * ----------------------------------------------------------------
 */

:root {
  --background-color: #f4f7f6;
  --header-background-color: #ffffff;
  --header-border-color: #e0e0e0;
  --text-color: #333;
  --toggle-button-hover-bg: rgba(0, 0, 0, 0.1);
}

:root[theme="dark"] {
  --background-color: #1a1a1a;
  --header-background-color: #2c2c2c;
  --header-border-color: #444444;
  --text-color: #f0f0f0;
  --toggle-button-hover-bg: rgba(255, 255, 255, 0.1);
}


/*
 * ----------------------------------------------------------------
 * 基本スタイル
 * ----------------------------------------------------------------
 */
body {
  margin: 2em;
  font-family: 'Noto Sans JP', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

body.enable-transitions {
  transition: background-color 0.3s, color 0.3s;
}

h1 {
  margin-top: 0;
}

/*
 * ----------------------------------------------------------------
 * ヘッダー
 * ----------------------------------------------------------------
 */
.site-header {
  padding: 12px 2em;
  margin: -2em -2em 2em -2em;
  background-color: var(--header-background-color);
  border-bottom: 1px solid var(--header-border-color);

  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .site-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;
    }

    img {
      height: 50px;
      padding-left: 10px;
    }
  }


  .theme-toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--text-color);

    &:hover {
      background-color: var(--toggle-button-hover-bg);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.enable-transitions .site-header {
  transition: background-color 0.3s, border-bottom-color 0.3s;
}

/*
 * ----------------------------------------------------------------
 * レスポンシブ対応
 * ----------------------------------------------------------------
 */
@media (max-width: 768px) {
  body {
    margin: 1.5em 0.8em;
  }

  .site-header {
    padding: 12px 1.5em;
    margin: -1.5em -0.8em 1.5em -0.8em;
  }
}