body {
  padding: 0;
  line-height: 1.6;
}

.site-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 2em;
  margin: -2em -2em 2em -2em;
}

.site-logo {
  font-size: 1.7rem;
  color: black;

  img {
    height: 40px;
  }
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 20px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: transform 0.2s, box-shadow 0.2s;
}

.logout {
  background-color: #5c5c5c;
  color: white;
  border: black solid 1px;
}


.nav-link:not(.disabled):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.nav-link .material-symbols-outlined {
  font-size: 28px;
  color: #007BFF;
}

.nav-link.disabled {
  background-color: #e9ecef;
  color: #6c757d;
  cursor: not-allowed;
  opacity: 0.8;
  pointer-events: none;
}

.nav-link.disabled .material-symbols-outlined {
  color: #6c757d;
}


@media (max-width: 768px) {
  .site-logo {
    font-size: 1.5rem;
    color: black;

    img {
      height: 25px;
    }
  }

  .container {
    padding: 0 15px;
  }

  .nav-link {
    padding: 12px 18px;
    font-size: 0.95rem;
  }

  .nav-link .material-symbols-outlined {
    font-size: 24px;
  }
}